{# Run 'gulp' in a terminal to render #}

{% include "head.nunjucks" %}

    {% include "header.nunjucks" %}

    <div class="container">
    
        {% include "spacer.nunjucks" %}
        {% include "spacer.nunjucks" %}
        
        {% set title = "Welcome to the Jarrang Resource Hub." %}
        {% set subtitle = "This is a place to bring together all the various projects and resources that we use internally. If there is something missing that you would like added, contact <a href='mailto:rob@jarrang.com' target='_blank'>Rob Moran</a>" %}
        {% include "alert.nunjucks" %}

        {# To edit these images, simply make any edits to the Photoshop file and generate images #}
        {% set image_1 = "images/images-assets/slideshow1.jpg" %}
        {% set image_2 = "images/images-assets/slideshow2.jpg" %}
        {% set image_3 = "images/images-assets/slideshow3.jpg" %}
        {% include "carousel.nunjucks" %}

        {% include "spacer.nunjucks" %}

        {#}<div class="row">
          {% set title = "Products" %}
          {% include "products.nunjucks" %}
        </div> {#}

        <div class="row">
          {% set title = "Core Products" %}
          {% set items = [
            { title: "Academy", 
              description: "A course in which to develop an industry-standard email marketing skillset", 
              link: "https://www.jarrang.com/academy", 
              icon: "book" },
            { title: "Masters", 
              description: "The go-to email marketing community for marketing professionals", 
              link: "https://www.jarrang.com/masters", 
              icon: "people" },
            { title: "Sessions", 
              description: "Join us as we speak to a variety of special guests involved in the industry", 
              link: "https://www.jarrang.com/podcast", 
              icon: "mic" }
          ] %}
          {% set scroll = false %}
          {% include "list.nunjucks" %}

          {% set title = "'By Jarrang' Products" %}
          {% set items = [
            { title: "Email Scorecard", 
              description: "Free tool to rank your email marketing", 
              link: "https://www.emailscorecard.co.uk/", 
              icon: "speedometer",
              badge: "New" },
            { title: "On The List", 
              description: "Digital data capture form for venues to help support NHS Test & Trace", 
              link: "https://www.jarrang.com/onthelist", 
              icon: "calendar2-check" },
            { title: "MailAway", 
              description: "Simple, Reliable and Enjoyable email marketing", 
              link: "https://www.jarrang.com/mailaway", 
              icon: "envelope" },
            { title: "Email Templates", 
              description: "Order a customised email template with our easy to use online form", 
              link: "#", 
              badge: "Coming soon",
              icon: "layout-text-window" }
          ] %}
          {% set scroll = true %}
          {% include "list.nunjucks" %}

          {% set title = "Latest Podcast" %}
          {% set scroll = false %}
          {% include "podcast.nunjucks" %}
        </div>

        {# Each set of three list groups requires a new row #}
        <div class="row">

          {% set title = "Documentation" %}
          {% set items = [
            { title: "Jarrang Wiki", 
              description: "The very first point of call when in need of documentation", 
              link: "https://wiki.jarrang.com/", 
              icon: "archive" },
            { title: "Process Visualisation", 
              description: "A growing hub of approved processes that illustrate the company's workflow", 
              link: "https://files.jarrang.com/Jarrang/process-visualisation/index.html", 
              icon: "diagram-2", 
              badge: "New" },
            { title: "Client Relationship Handbook", 
              description: "Breaks down the softer skills of client relationships", 
              link: "https://docs.google.com/document/d/1KTIPW5wLbZKQWVRG_w_t3ATh4W_n2352lWY_4NSBmp8/edit", 
              icon: "book" }
          ] %}
          {% set scroll = false %}
          {% include "list.nunjucks" %}

          {% set title = "Insights & Inspiration" %}
          {% set items = [
            { title: "DMA", 
              description: "Membership insights into email statistics, reports, webinars etc", 
              link: "https://dma.org.uk/", 
              icon: "graph-up" }, 
            { title: "Really Good Emails", 
              description: "Website for up to date email tips and ideas", 
              link: "https://reallygoodemails.com/", 
              icon: "envelope" },
            { title: "HTML Email Designs", 
              description: "A good source of email design inspiration", 
              link: "http://htmlemaildesigns.com/", 
              icon: "lightbulb" }
          ] %}
          {% include "list.nunjucks" %}

          {% set title = "Employee Admin" %}
          {% set items = [
            { title: "Harvest", 
              description: "How we keep track of time spent", 
              link: "https://jarrang.harvestapp.com/overview", 
              icon: "hourglass-split" }, 
            { title: "Timetastic", 
              description: "The platform that Jarrang uses to manage employee holiday", 
              link: "https://app.timetastic.co.uk/wallchart#", 
              icon: "clock" },
            { title: "Trello", 
              description: "Manage ongoing projects with Trello", 
              link: "https://trello.com/", 
              icon: "kanban" },
            { title: "Slack", 
              description: "Internal communications", 
              link: "https://jarrang.slack.com/", 
              icon: "slack" },
            { title: "RingCentral", 
              description: "Campaign/project amends and development", 
              link: "https://www.ringcentral.co.uk/#ring-uk", 
              icon: "pin-angle" },
            { title: "Capacity Forecast", 
              description: "A way of looking ahead in order to plan your workload", 
              link: "https://docs.google.com/spreadsheets/d/1JHKtLdQd7xj15Dqn720uAr1XV2XW3UKV5DIDhMYUN1I/edit?ts=601d7551#gid=0", 
              icon: "bar-chart-steps" },
            { title: "Activity Trackers", 
              description: "Keep track of your internal projects", 
              link: "https://docs.google.com/spreadsheets/d/18FUwX6T5gOSk9gfMPnFXnCmkZfzZ4PVv7BKbVOUHzGQ/edit?ts=600ff9f6#gid=408525561", 
              icon: "card-checklist", 
              badge: "Q2 2021" },
            { title: "Improvement Log", 
              description: "An ongoing record of errors and how they were rectified", 
              link: "https://docs.google.com/spreadsheets/d/17Ts8VpPVEHTifFelofZqVBVq6r7UhmvIoxpNp0ODObE/edit#gid=926046746", 
              icon: "journal-arrow-up" },
            { title: "LastPass", 
              description: "Where we store all our passwords", 
              link: "https://lastpass.com/", 
              icon: "key" },
            { title: "BrightPay", 
              description: "View your payslip and other documents", 
              link: "https://brightpay.cloud/Account/Login", 
              icon: "wallet2",
              badge: "New" }
          ] %}
          {% set scroll = true %}
          {% include "list.nunjucks" %}

        </div>
        <div class="row">

          {% set title = "Financials" %}
          {% set items = [
            { title: "Client Price Guide", 
              description: "The pricing matrix that we use to ensure consistency when charging for projects", 
              link: "https://docs.google.com/spreadsheets/d/1bnAN4JID5PdFUH4Rnv2coyB8ho-YGk394gAYgjM9ty4/edit#gid=544957405", 
              icon: "cash-stack" }, 
            { title: "Invoicing & PMs", 
              description: "Spreadsheet detailing performance measures, client invoicing and more", 
              link: "https://docs.google.com/spreadsheets/d/1xNJD47emwuNW44YplLZ_Thi2yAltlcyQ2A0Ss7CNNYE/edit#gid=908247667", 
              icon: "receipt-cutoff" },
            { title: "Motability Price Guide", 
              description: "A pricing matrix specific to this client", 
              link: "https://docs.google.com/spreadsheets/d/1xNJD47emwuNW44YplLZ_Thi2yAltlcyQ2A0Ss7CNNYE/edit#gid=908247667", 
              icon: "truck" }
          ] %}
          {% set scroll = false %}
          {% include "list.nunjucks" %}

          {% set title = "Client Management" %}
          {% set items = [
            { title: "Podio", 
              description: "Platform for noting any new sales deals or ad hoc projects", 
              link: "#", 
              icon: "receipt-cutoff" }, 
            { title: "Motability Handbook", 
              description: "All you need to know about our relationship with MO", 
              link: "https://drive.google.com/file/d/1r68FzeYDe3OXoB-_Ag5cUFTiZLriqyOh/view?usp=sharing", 
              icon: "truck" },
            { title: "Jarrang Lookbook", 
              description: "Visual ideas to show clients for new campaign ideas (GIF animations, hyper-personalisation)", 
              link: "https://www.jarrang.com/lookbook", 
              icon: "book" },
            { title: "Emojipedia", 
              description: "Where we source emojis for campaigns", 
              link: "https://emojipedia.org/", 
              icon: "emoji-smile" }
          ] %}
          {% set scroll = false %}
          {% include "list.nunjucks" %}

          {% set title = "Developer" %}
          {% set items = [
            { title: "Github", 
              description: "Where we store all of our code and track issues", 
              link: "https://github.com/", 
              icon: "code-slash" }, 
            { title: "Can I Email", 
              description: "Useful tool to check compatibility of CSS features", 
              link: "https://www.caniemail.com/", 
              icon: "patch-question" },
            { title: "Email Geeks", 
              description: "Slack community to chat all things email marketing, design and code", 
              link: "https://email.geeks.chat/", 
              icon: "slack" },
            { title: "Detergent", 
              description: "a tool to prepare text for pasting into HTML", 
              link: "https://detergent.io/light", 
              icon: "blockquote-left" }
          ] %}
          {% set scroll = true %}
          {% include "list.nunjucks" %}

        </div>

        <div class="row">

          {% set title = "Brand" %}
          {% set items = [
            { title: "Vision Mission Values", 
              description: "A summary of who we are as a company & what Jarrang stands for", 
              link: "http://vmv.jarrang.com/", 
              icon: "easel" }, 
            { title: "Brand Guidelines", 
              description: "Ensures consistency in the Jarrang brand across all platforms", 
              link: "#", 
              icon: "palette", 
              badge: "Coming soon" },
            { title: "Marketing Schedule", 
              description: "A way to keep track of blog posts and social media", 
              link: "https://docs.google.com/spreadsheets/d/1e16i0g6HTtjgl6H544N7TPCxAvj54CYWPBO8y97vxqY/edit?ts=5fda08bc#gid=993034070", 
              icon: "calendar-week" },
            { title: "Canva", 
              description: "This is how we produce our social media imagery", 
              link: "https://canva.com/", 
              icon: "columns-gap", 
              badge: "New" }
          ] %}
          {% set scroll = false %}
          {% include "list.nunjucks" %}

          {% set title = "Creative Resources" %}
          {% set items = [
            { title: "Better Placeholder", 
              description: "GUI to create placeholder images", 
              link: "https://betterplaceholder.com/?ref=tiny-helpers", 
              icon: "image" }, 
            { title: "Unsplash", 
              description: "A source of freely-usage images", 
              link: "https://unsplash.com/", 
              icon: "image-alt" },
            { title: "Image Extractor", 
              description: "Download images from any public website by using a virtual browser", 
              link: "https://extract.pics/", 
              icon: "cloud-arrow-down" }, 
            { title: "Subtle Patterns", 
              description: "Repeatable patterns, good for backgrounds", 
              link: "https://www.toptal.com/designers/subtlepatterns/", 
              icon: "grid-3x3" },
            { title: "Coolors", 
              description: "Colour palette generator and inspiration", 
              link: "https://coolors.co/", 
              icon: "palette" },
            { title: "Colouris", 
              description: "Convert colour values", 
              link: "https://colouris.surge.sh/", 
              icon: "hexagon-half" },
            { title: "Grabient", 
              description: "Inspiration for attractive gradients", 
              link: "https://www.grabient.com/", 
              icon: "hexagon-half" }
          ] %}
          {% set scroll = true %}
          {% include "list.nunjucks" %}

          {% set title = "Fun" %}
          {% set items = [
            { title: "Email Scorecard", 
              description: "Rank your email marketing", 
              link: "https://www.emailscorecard.co.uk/", 
              icon: "pie-chart" }, 
            { title: "Categories", 
              description: "Fun game for Friday afternoons", 
              link: "https://swellgarfo.com/scattergories/", 
              icon: "dice-5" }, 
            { title: "Scriblio", 
              description: "Fun game for Friday afternoons", 
              link: "https://google.com/", 
              icon: "pen" },
            { title: "Pottermore", 
              description: "Discovering what house new employees would be sorted into", 
              link: "https://my.wizardingworld.com/sorting-hat", 
              icon: "lightning" }
          ] %}
          {% set scroll = false %}
          {% include "list.nunjucks" %}

        </div>

{# EXAMPLE 3 COLUMN LIST 

        <div class="row">

          {% set title = "Foo" %}
          {% set items = [
            { title: "Foo 1", 
              description: "Here is a brief description", 
              link: "https://google.com/", 
              icon: "truck", 
              badge: "New" }, 
            { title: "Foo 2", 
              description: "here is a description", 
              link: "https://google.com/", 
              icon: "pencil-square" },
            { title: "Foo 3", 
              description: "here is a description", 
              link: "https://google.com/", 
              icon: "award" }
          ] %}
          {% include "list.nunjucks" %}

          {% set title = "Bar" %}
          {% set items = [
            { title: "Bar 1", 
              description: "Here is a brief description", 
              link: "https://google.com/", 
              icon: "truck" }, 
            { title: "Bar 2", 
              description: "here is a description", 
              link: "https://google.com/", 
              icon: "pencil-square", 
              badge: "New" },
            { title: "Bar 3", 
              description: "here is a description", 
              link: "https://google.com/", 
              icon: "award" }
          ] %}
          {% include "list.nunjucks" %}

          {% set title = "Egg" %}
          {% set items = [
            { title: "Egg 1", 
              description: "Here is a brief description", 
              link: "https://google.com/", 
              icon: "truck", 
              badge: "New" }, 
            { title: "Egg 2", 
              description: "here is a description", 
              link: "https://google.com/", 
              icon: "pencil-square" },
            { title: "Egg 3", 
              description: "here is a description", 
              link: "https://google.com/", 
              icon: "award" }
          ] %}
          {% include "list.nunjucks" %}

        </div>
#}

    {% set last_updated = "4 May 2021" %}
    {% include "updated.nunjucks" %}

{% include "footer.nunjucks" %}