// Scss variables (colours etc...)

$primary-colour: #222222;
$gold: #B18307;
$cream: #F5EEDA;
$blue: #0D5573;
$red: #0D5573;
$dark: #656565;
$darker: #222222;
$darkest: #0C0E14;
$white: #FFFFFF;

// Your variable overrides
body {
    background-color: $white;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background: black!important;
  }
  
  .bg {
    background-image: url("../images/email-pattern-dark.png")!important;
  }

  .alert {
    background-color: $dark;
    border-color: $dark;
    color: $white;

    a {
      color: $white;
    }

  }

  .list-group-item {
    background-color: $darker;

    &:hover {
      background-color: $dark;
    }
  }

  a, p, h1, h2, h3, h4, .mb-1, {
    color: $white;
  }

  .accordion button, div{
    color: white;
  }

}



// Reusuable classes

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .spacer5 {
    height: 5px;
  }
  
  .spacer50 {
    height: 50px;
  }
  
  .list-group {
    max-height: 288px;
  }