// Base styles

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.bg {
  background-image: url("../images/email-pattern.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
}
