// Base styles

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.bg {
  background-image: url("../images/email-pattern.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
}

.logo:hover {
  filter: invert(0.4) sepia(1) saturate(3.7) hue-rotate(360deg) brightness(0.76); 
  transition: 0.1s;
}