// Scss variables (colours etc...)

$primary-colour: #222222;
$gold: #B18307;
$cream: #F5EEDA;
$blue: #0D5573;
$red: #0D5573;
$dark: #656565;
$darker: #222222;
$darkest: #0C0E14;
$white: #FFFFFF;

// Your variable overrides
body {
    background-color: $white;
}

